<form method="post" action="{{update_article_url}}">
<form accept-charset="UTF-8" action="/articles" class="new_article" id="new_article" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="o11i/SH+Yzrf4yod7xuPX0yPC/XsIpygNaepEL6qeRk="></div>

<script>
console.log("I'm a mustache inline multi-line thing!!!");
console.log("I'm really a mustache inline multi-line thing!!!");
</script>



  <div class="field">
    <label for="article_name">Name</label><br>
    <input id="article_name" name="article[name]" type="text">
  </div>
  <div class="field">
    <label for="article_content">Content</label><br>
    <textarea id="article_content" name="article[content]"></textarea>
  </div>
  <div class="field">
    <label for="article_tags">Tags</label><br>
    <input id="article_tags" name="article[tags]" type="text">
  </div>
  <div class="actions">
    <input name="commit" type="submit" value="Create Article">
  </div>
</form>

<script>console.log("I'm inline with a mustache")</script>
<script>console.log("Me as well!")</script>
