<!DOCTYPE html>
<html>
<head>
  <title>ScriptHash</title>
</head>
<body>
<script>console.log("in layout")</script>
<%= debug @partial_events %>
<%= debug @hashes %>
<%= debug request.env %>
<%= yield %>

</body>
</html>
